<!-- META TAGS -->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="canonical" href="/">
<meta name="viewport" content= "width=device-width, user-scalable=no">
</head>


<!-- META TAGS -->

<!-- 
<script>
    justDetectAdblock.detectAnyAdblocker().then(function(detected) {
    if(detected){
    Swal.fire({
     icon: 'warning',
     title: 'Hey!',
     closeOnConfirm: false,
     showCloseButton: false,
     showCancelButton: false,
     confirmButtonText: "No, I don't want to support it.",
     focusConfirm: true,
     text: "Ad blocker detected, please turn off ad blocker to support us.",
     footer: 'Copyright 2021'
    })
    }
    });
</script>
-->
<!-- SCRIPTS -->

<!-- FOOTER -->

<style>
    .footers li a, .footer-link {
        color: rgb(156, 156, 156);
    }
    .footers li a:hover, .footer-link:hover {
        color: #7289da;
    }
</style>
<!--<svg height="10%" width="100%" position="absolute" top="50px" bottom="50" id="svg" viewBox="0 0 1440 400" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"><path d="M 0,500 C 0,500 0,166 0,166 C 59.10477499141189,185.2944005496393 118.20954998282377,204.58880109927858 188,209 C 257.7904500171762,213.41119890072142 338.26657506011674,202.93919615252494 416,181 C 493.73342493988326,159.06080384747506 568.724149776709,125.65441429062176 636,116 C 703.275850223291,106.34558570937824 762.8368258330469,120.443146684988 821,146 C 879.1631741669531,171.556853315012 935.9285468911028,208.5729989694263 998,221 C 1060.0714531088972,233.4270010305737 1127.4489866025422,221.26485743730677 1202,208 C 1276.5510133974578,194.73514256269323 1358.2755066987288,180.3675712813466 1440,166 C 1440,166 1440,500 1440,500 Z" stroke="none" stroke-width="0" fill="#23272a88" class="transition-all duration-300 ease-in-out delay-150"></path><path d="M 0,500 C 0,500 0,333 0,333 C 68.71384403984885,330.9381655788389 137.4276880796977,328.8763311576778 205,318 C 272.5723119203023,307.1236688423222 339.00309172105807,287.4328409481278 403,299 C 466.99690827894193,310.5671590518722 528.5599450360702,353.3923050498111 592,360 C 655.4400549639298,366.6076949501889 720.7571281346615,336.99793885262795 805,336 C 889.2428718653385,335.00206114737205 992.4115424252836,362.6159395396771 1064,355 C 1135.5884575747164,347.3840604603229 1175.5967021642048,304.5383029886637 1233,295 C 1290.4032978357952,285.4616970113363 1365.2016489178977,309.2308485056682 1440,333 C 1440,333 1440,500 1440,500 Z" stroke="none" stroke-width="0" fill="#23272aff" class="transition-all duration-300 ease-in-out delay-150"></path></svg>-->
<section class=" footers bg-vcodes text-white pt-2 pb-3">
<!-- <svg height="100%" width="100%" id="svg" viewBox="0 0 1440 500" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"><path d="M 0,500 C 0,500 0,166 0,166 C 59.10477499141189,185.2944005496393 118.20954998282377,204.58880109927858 188,209 C 257.7904500171762,213.41119890072142 338.26657506011674,202.93919615252494 416,181 C 493.73342493988326,159.06080384747506 568.724149776709,125.65441429062176 636,116 C 703.275850223291,106.34558570937824 762.8368258330469,120.443146684988 821,146 C 879.1631741669531,171.556853315012 935.9285468911028,208.5729989694263 998,221 C 1060.0714531088972,233.4270010305737 1127.4489866025422,221.26485743730677 1202,208 C 1276.5510133974578,194.73514256269323 1358.2755066987288,180.3675712813466 1440,166 C 1440,166 1440,500 1440,500 Z" stroke="none" stroke-width="0" fill="#23272a88" class="transition-all duration-300 ease-in-out delay-150"></path><path d="M 0,500 C 0,500 0,333 0,333 C 68.71384403984885,330.9381655788389 137.4276880796977,328.8763311576778 205,318 C 272.5723119203023,307.1236688423222 339.00309172105807,287.4328409481278 403,299 C 466.99690827894193,310.5671590518722 528.5599450360702,353.3923050498111 592,360 C 655.4400549639298,366.6076949501889 720.7571281346615,336.99793885262795 805,336 C 889.2428718653385,335.00206114737205 992.4115424252836,362.6159395396771 1064,355 C 1135.5884575747164,347.3840604603229 1175.5967021642048,304.5383029886637 1233,295 C 1290.4032978357952,285.4616970113363 1365.2016489178977,309.2308485056682 1440,333 C 1440,333 1440,500 1440,500 Z" stroke="none" stroke-width="0" fill="#23272aff" class="transition-all duration-300 ease-in-out delay-150"></path></svg> -->
   <div class="container pt-5">
      <!-- <svg height="100%" width="100%" id="svg" viewBox="0 0 1440 500" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"><path d="M 0,500 C 0,500 0,166 0,166 C 59.10477499141189,185.2944005496393 118.20954998282377,204.58880109927858 188,209 C 257.7904500171762,213.41119890072142 338.26657506011674,202.93919615252494 416,181 C 493.73342493988326,159.06080384747506 568.724149776709,125.65441429062176 636,116 C 703.275850223291,106.34558570937824 762.8368258330469,120.443146684988 821,146 C 879.1631741669531,171.556853315012 935.9285468911028,208.5729989694263 998,221 C 1060.0714531088972,233.4270010305737 1127.4489866025422,221.26485743730677 1202,208 C 1276.5510133974578,194.73514256269323 1358.2755066987288,180.3675712813466 1440,166 C 1440,166 1440,500 1440,500 Z" stroke="none" stroke-width="0" fill="#23272a88" class="transition-all duration-300 ease-in-out delay-150"></path><path d="M 0,500 C 0,500 0,333 0,333 C 68.71384403984885,330.9381655788389 137.4276880796977,328.8763311576778 205,318 C 272.5723119203023,307.1236688423222 339.00309172105807,287.4328409481278 403,299 C 466.99690827894193,310.5671590518722 528.5599450360702,353.3923050498111 592,360 C 655.4400549639298,366.6076949501889 720.7571281346615,336.99793885262795 805,336 C 889.2428718653385,335.00206114737205 992.4115424252836,362.6159395396771 1064,355 C 1135.5884575747164,347.3840604603229 1175.5967021642048,304.5383029886637 1233,295 C 1290.4032978357952,285.4616970113363 1365.2016489178977,309.2308485056682 1440,333 C 1440,333 1440,500 1440,500 Z" stroke="none" stroke-width="0" fill="#23272aff" class="transition-all duration-300 ease-in-out delay-150"></path></svg> -->
      <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 footers-one">
           <div class="footers-logo lastytext">
               <div translate="no" class="bold">
                <span data-tooltip="Ping Değeri" data-tooltip-location="top">
                    <% if(bot.ws.ping < 160) { %>
                        <button class="btn" style="padding: 5px 15px;background-color: #43b581; color: green;" >
                        <i class="fad fa-table-tennis"></i>&nbsp;<a><%= bot.ws.ping %>ms</a>
                    <% } else if(bot.ws.ping < 500) { %>
                        <button class="btn" style="padding: 5px 15px;background-color: #f9a61a; color: orange;" >
                        <i class="fad fa-table-tennis"></i>&nbsp;<a><%= bot.ws.ping %>ms</a>
                    <% } else if(bot.ws.ping > 500) { %>
                        <button class="btn" style="padding: 5px 15px;background-color: #f34648; color: red;" >
                        <i class="fad fa-table-tennis"></i>&nbsp;<a><%= bot.ws.ping %>ms</a>
                    <% } %>
                </button>
                          <br><br><iframe src="https://www.onlineipaddress.com/ip.php" target="_blank" width="122" height="16" scrolling="NO" frameborder="0" marginwidth="0" marginheight=0 hspace=0 vspace=0><br><br>
                          
                          </iframe>
                </span>
               </div>
            </div>
       </div>
        <div class="col-xs-5 col-sm-1 col-md-2 footers-four">
           <p class="uppercase bold footer-title is-size-8">Kategori </p>
           <ul class="list-unstyled">
             
          <li><a href="/">Feix Ana Sayfa</a></li>
             
          <li><a href="/aboutus">Hakkımızda</a></li>
             
          <li><a href="/join">Discord Destek Sunucumuz</a></li>
         </ul>
       </div>
       <div class="col-xs-12 col-sm-6 col-md-2 footers-three">
        <p  class="uppercase bold footer-title is-size-5">Sosyal Medya </p>
        <ul style="margin-top: -4%;" class="list-inline mt-4">
        <li class="list-inline-item  lastytext"><a rel="nofollow" href="/join" target="_blank" title="discord"><i class="fab fa-discord discord"></i></a></li>
        <li class="list-inline-item  lastytext"><a rel="nofollow" href="https://www.instagram.com/lasty_fx" target="_blank" title="instagram"><i class="fab fa-instagram instagram"></i></a></li>
 </ul>
    </div>
    </div>
  </div>

</section>
<section class="copyright buton1">
   <div class="container-fluid">
       <div class="row text-center">
           <div class="col-md-12 pt-3">
           <div style="float: right;">
        </div> 
        <div style="float: left;">
          <p class="text-muted"> Copyright <script>
            document.write(new Date().getFullYear());
          </script> &copy Feix.
           </div>
       </div>
   </div>
</section>
<script src="/js/socket.js"></script>
<!-- FOOTEr -->

<script>
    console.log("%cLASTY#0001","color: red; font-size: 60px");
    console.log("%cKodların Çoğu Gizlidir Alabileceğiniz Kodlar Sınırlıdır!","color: green; font-size: 20px");
</script>
<!-- SCRIPTS -->
<style>
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted white;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
</style>
</style>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script>
          tippy('.tippy', {arrow: true,animation: 'scale',});
    </script>
</html>
<script>
$('.dropdown-menu .submenu > a:not(a[href="#"])').on('click', function() {
    self.location = $(this).attr('href');
});
$(document).ready(function() {
	$.fn.dataTable.ext.classes.sPageButton = 'btn btn-discord-pagination';
  
  $('#tableData').DataTable({
    
    "language": {
                "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                "sInfo": "Sayfa: _PAGE_/_PAGES_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "Ara...",
               "sLengthMenu": "Sonuçlar:  _MENU_",
    },
    "stripeClasses": [],
    "lengthMenu": [5, 10, 15, 20, 25, 30, 50, 100],
     "pageLength": 5,
  })
});
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();   
});
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script id="dsq-count-scr" src="//feixbot.cf/count.js" async></script>

</div>
