<!DOCTYPE Html>
<html>
    <head>
        <title>Hoşgeldin | FEIX</title>

        <!-- Link -->
        <link rel="stylesheet" href="css/best.css" />
    </head>
    <body>

        <!-- Loading Screen Start -->

            <div id="loading">
                <div id="center">
                    <div id="lasty">
                      <font face="Permanent Marker" color="black" size="50">FEIX TRUST !</font>
                    </div>
                </div>
            </div>

        <!-- Loading Screen End -->

        
        <!-- Start -->

            <div class="feixgiris">
                <img src="https://cdn.discordapp.com/attachments/913197547726729226/916459754895843358/feixxx.gif">
            </div>

        <!-- End -->

        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script>
            $(function() {
                $("#loading").delay(2000).fadeOut(2000)

            })
        </script>
    </body>
</html>

<meta http-equiv="refresh" content="10; url=/feix">