
  

<div class="container">
    <div class="box warning" >
      
      <div class="copyArea "><p><strong class= "">DUYURU:</strong><font color="white"><marquee> Artık Uptime Servisimiz 7/24 Hizmetinizde !.</marquee></font></p></div>
    </div>
</div>

  
<section class="jumbotron vcodes ">
    <center>
    <br><br>
    <div class="container px-3 mb-5 mt-1">
      <div class="mb-3 mx-auto">
        <br>
        	 <div class="dropdown-menu-right animate slideIn" style="width:auto!important;">
                 <!--<a class="sabitsag  mek buton1" href="/partners"><i class="fad fa-handshake mr-1"></i>Sponsorlar</a>
                 <a class="sabitsag  mek buton1" href="/news"><i class="fad fa-newspaper mr-1"></i><h6>Komutlar<h6></a>-->
            </li>
      </ul>
        <img  draggable="false" style="z-index: 1!important; width: 200px; position: relative;" class="imagef" src="https://media.discordapp.net/attachments/972875486302720090/972880266634854450/ae7t5jjmcag2q1nka85llni40f.png?width=480&height=480" width="420" alt="Feix Uptime">
        <br>
        <h4><div class="renkdegis stil ">FEIX TRUST !</div></h4>
        <br>
        <p class="content has-text-white lastytext" style="opacity: 0.6; margin-top: -20px;">Gelişmiş Komutları Ve Site Üzerinden Uptime Hizmetimiz ile 7/24 Hizmet Vermeye Hazırız !</p>
        <br><br>
        <p class="content has-text-white lastytext" style="opacity: 0.6; margin-top: -20px;" id="typeText">r!yardım Yazarak Gelişmiş Yardım Paneline Ulaşabilirsiniz.</p>
        <html>
   <head>
      <title>Uptime Hizmeti</title>
   </head>
          
   <body>
     <html>
   <head>
      <style>
         .button {
         background-color: #1c87c9, #c4172d;
         border: none;
         color: rgb;
         padding: 10px 24px;
         text-align: left;
         text-decoration: none;
         display: inline-block;
         font-size: 15px;
         margin: 4px 2px;
         cursor: pointer;
         }
      </style>
   </head>
   <body>
      <a href="/login" class="lastytext buton1 buton2 btn btn">Uptime Hizmeti</a>
<br><br>
<a href="https://dosya.co/qygkop8046q7/Feix_Bot.apk.html" class=" lastytext buton1 buton2 btn" target="_blank">Android Versiyon</a>
     



   </body>
     </html>



     
   </body>
        </html>
  </a>
      </div>
    </div>
    <br>
    </center>
</section>

