<%- include('./includes/head', {bot, user}) %>
<style>
    h1 {
      color: #fFf;
    }
    .background {
      position: relative;
  }
  
  .layer {
      background-color: rgba(248, 247, 216, 0.7);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
  </style>
<div class="container ">
<br>
<br>
<h3 class="mt-6" style="color: #fff;">
        <i class="fad fa-user-crown"></i> KURUCU(LAR)
        </h3>
        <div class="vcodes_divider"></div>
    <% config.dashboard.owners.forEach(a => { %>
    <center>
        <div class="columns is-multiline is-desktop is-variable is-7 mt-3 pt-5" style="border: none;">
      <div class="col-md-6 col-lg-4 pb-3">
        <div class="card vcodes-card-custom bg-vcodes border-white border-0">
          <div class="vcodes-card-custom-img" onerror="backImgError(this);" style="background-image: url('https://media.discordapp.net/attachments/912441409108312095/914660035999703040/madara-eyes.gif');"></div>
          <div class="card-custom-avatar">
          <img class="img-fluid" class="pulse-avatar-online" onerror="imgError(this);" src="<%= bot.users.cache.get(a).displayAvatarURL({ dynamic: false }) %>" alt="Avatar" />
          </div>
          <div style="background: transparent;" class="card-body">
            <h4 translate="no" class="card-title"><%= bot.users.cache.get(a).username %>
            <span data-tooltip="Doğrulanmış Kurucu" data-tooltip-location="top"><i class="fad fa-badge-check has-text-danger"></i></span>
            </h4>
            <p translate="no" class="card-text vCodesbotDesc">DEVELOPER<br>
                BULUNDUĞU SUNUCU <a href="https://discord.gg/YDbMzxddZS"><br>[Sunucuya Git]</a><br>
                Coder 🛡️</p>
          </div>
        </div>
      </div>
    </div>
    </center>
      <% }) %>
            </div>
</div>
<h4><div align="center" class="announcement buton1 buton2 bg-vcodes"><p>HAKKINDA<br><br>FEIX BOT 2021 YILINDA GELİŞTİRİLMİŞ OLAN KAPSAMLI,ŞIK VE SADE BİR SİTELİ SİSTEMDİR.<br><br> GELİŞMİŞ AYARLAMALI KOMUTLAR VE SİTE ÜZERİNDEN BOTLARINIZI UPTİME ETME KONUSUNDA LİDERLİĞE ADIM ATIYOR.<br><br>HERHANGİ BİR SORUN ÖNERİ VEYA İSTEĞİNİZ OLDUĞU ZAMAN ÇEKİNMEDEN İNSTAGRAM ÜZERİNDEN VEYA DİSCORD ÜZERİNDEN MESAJ ATABİLİRSİNİZ.<br><br>İYİ GÜNLER SAĞLICAKLA KALIN</p></div></h4>
<br><br><br><br>
<%- include('./includes/foot') %>