<!DOCTYPE html>
<%- include('./includes/head', {bot, user}) %>

<html lang="en">
<head>
  
</head>
<body class="contaqqiner">

<header>
  
</header>

<main>
<div class="rasdow">
  <div class="col-sm-8">
    <div class="jumbotasdron">
      
      
    </div>
  </div>
<section class="section section-default mt-none mb-none">
<div class="container"><br><br>
<h2 class="mb-sm"><strong>Destekçilerimiz</strong></h2>
<strong><br><br>
<div class="row">
<div class="col-sm-6 col-md-4 col-lg-3">
<div class="square-holder buton2">
<img alt="" src="https://cdn.discordapp.com/attachments/906495979325366282/917398998673940560/eness.png" />
</div>
</div>
<div class="col-sm-6 col-md-4 col-lg-3">
<div class="square-holder buton2">
<img alt="" src="https://cdn.discordapp.com/avatars/653219310415904788/a_c42d6c6e0bf9795dc3636d57d4fda0b.gif?size=2048" />
</div>
</div>
<!--<div class="col-sm-6 col-md-4 col-lg-3">
<div class="square-holder">
<img alt="" src="https://www.pmits.co.uk/portals/0/images/partners/gxs-200.png" />
</div>
</div>
<div class="col-sm-6 col-md-4 col-lg-3">
<div class="square-holder">
<img alt="" src="https://www.pmits.co.uk/portals/0/images/partners/jpr-200.png" />
</div>
</div>
<div class="col-sm-6 col-md-4 col-lg-3">
<div class="square-holder">
<img alt="" src="https://www.pmits.co.uk/portals/0/images/partners/talk-internet-200.png" />
</div>
</div>
<div class="col-sm-6 col-md-4 col-lg-3">
<div class="square-holder">
<img alt="" src="https://www.pmits.co.uk/Portals/0/img/opera3_logo.png" />
</div>
</div>
<div class="col-sm-6 col-md-4 col-lg-3">
<div class="square-holder">
<img alt="" src="https://www.pmits.co.uk/Portals/0/pegasus-logo.png" />
</div>
</div>
<div class="col-sm-6 col-md-4 col-lg-3">
<div class="square-holder">
<img alt="" src="https://www.pmits.co.uk/Portals/0/sage business partner.jpg" />-->
</div>
</div>
</div>
</strong>
</div>
</section>
  <div class="col-sm-4">
    <div class="well">
      
    </div>
  </div>
</div>
</main>

<footer>
  
</footer>

</body>
</html>
<%- include('./includes/foot') %>